/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  height: 66px;
  background:rgb(0, 0, 0);
}

.logo-tab { 
  position: absolute;
  left: 22px;
  top: 5px;
  font-size: 40px;
  font-weight: 800;
  /* box-shadow:1px 5px 20px 13px red; */
  text-shadow: 1px 1px 1px rgb(255, 0, 0), 0 0 2px rgb(255, 0, 0), 0 0 0.2em rgb(255, 0, 0);
  color: rgb(255, 0, 0);
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: rgb(255, 0, 0);
  cursor: pointer;  
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  background-image: linear-gradient(#40a9ff, #096dd9);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 2px;
  display: inline-block;
}

.facebook {
  background-color: #3b5998;
}
.google {
  background-color: #4285f4;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(254, 21, 21, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}
